@model IEnumerable<Iserv.Models.Province>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:white">Provinces</h2>
<hr />

<button class="btn btn-dark" style="border-radius:20px" onclick="window.location.href ='@Url.Action("Create","Provinces")'">
    Add New +
</button>


<div class="row" style="height:100%;">
    @foreach (var item in Model)
    {
        <div class="card " style="width:320px;height:auto;border:1px solid;border-radius:10px;padding:10px;background-color:rgba(0,0,0,0.88);margin-left:5px;margin-top:10px">
            <div class="card-body" >
                <h4 class="card-title" style="color:white"> Province : @item.Name    </h4>

                <div class="btn-group">
                    <button class="btn btn-info btn-sm" type="submit" onclick="window.location.href='@Url.Action("Edit", "Provinces", new { id=item.ProvinceID })'">Modify</button>
                    <button class="btn btn-dark btn-sm" type="submit" onclick="window.location.href='@Url.Action("Details", "Provinces", new { id=item.ProvinceID })'">View</button>
                    <button class="btn btn-danger btn-sm" type="submit" onclick="window.location.href='@Url.Action("Delete", "Provinces", new { id=item.ProvinceID })'">Remove</button>
                </div>

            </div>
            <br />
        </div>
    }
</div>
