@model Iserv.Models.ProviderAppointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProviderAppointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.schedule_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.themecolor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.themecolor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFullDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFullDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduleStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduleStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceProvider.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceProvider.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProviderAppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
