@model Iserv.Models.Invoice
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "PastDetails";
    if (User.IsInRole("ServiceProvider"))
    {
        Layout = "~/Views/Shared/_LayoutProvider.cshtml";

    }
    else if (User.IsInRole("Customer"))
    {
        Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
}

<div style="background-color:black;border-radius:20px;height:auto;padding:10px" id="ConsRP" name="ConsRP">

    <h2 style="margin-left:45%" class="text-info">Invoice</h2>
    <div style="margin-left:35%">
        <h3 style="color:white"> Invoice to <span class="text-info"> @Model.Consumer.Name @Model.Consumer.Surname</span> </h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="form-group">
        <h5 style="color:white"><span class="text-info">Company:</span>  @Model.ServiceProvider.BusinessName</h5>
        <h5 style="color:white"><span class="text-info"> Address:</span> @Model.ServiceProvider.Address.StreetNumber ,@Model.ServiceProvider.Address.StreetName, @Model.ServiceProvider.Address.City.Name  </h5>
        <label style="color:white" class="control-label"> <span class="text-info">Date: </span>  @DateTime.Now.ToShortDateString() </label><br />
        <label style="color:white" class="control-label"><span class="text-info">Payment Method:</span>  @Model.PaymentMethod.Name</label>
    </div>
    <div class="form-group" style="float:right;margin-top:-12%">
        <h5 style="color:white"><span class="text-info">Quote for Service: </span>@Model.ServiceRequest.Service.Name </h5>
        <h5 style="color:white"><span class="text-info"> Proposed Date of Service: </span> @DateTime.Parse(Model.ServiceRequest.Date.ToString()).ToShortDateString() </h5>
        <label style="color:white" class="control-label"> <span class="text-info">Proposed Time of Service : </span>   @DateTime.Parse(Model.ServiceRequest.Time.StartTime.ToString()).ToShortTimeString()  </label><br />
        <br />
    </div>



    <div id="main">
        <table class="table table-striped" id="tbl-details">
            <thead>
                <tr>
                    <th>Item Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Item Total</th>
                </tr>
            </thead>
            <tbody class="Added" id="tablefadded" style="color:white">
                @foreach (var quoteline in Model.ServiceQuote.ServiceQuoteLines)
                {
                    <tr>
                        <td>@quoteline.ItemDescription</td>
                        <td>@quoteline.Quantity</td>
                        <td>R @quoteline.ItemPrice</td>
                        <td>R @quoteline.ItemTotal</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div>
            <span><label>Total :</label><input class="form-control" style="color:white;background-color:black;width:200px" disabled id="TotalVAT" name="TotalVAT" value="R @Model.Total" /></span>
        </div>
        <br />
    </div>
</div>


<div class="btn btn-group" id="btnbtn">
    <button class="btn btn-info" id="SaveQuotation" onclick="printContent('ConsRP');"><i class="fa fa-print"></i> Print Invoice</button>
</div>
@section Scripts{
    <script>
            function printContent(el) {
                var restorepage = $('body').html();
                var printcontent = $('#' + el).clone();
                $('body').empty().html(printcontent);
                window.print();
                $('body').html(restorepage);
            }
    </script>
}


